@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./star-wars-backgrounds-25.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Muli", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.container {
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.header {
    border-bottom: 1px solid;
    padding: 20px 40px;
}

.header h2 {
    color: yellow;
    margin: 0;
    text-align: center;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.info-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 0rem 5rem;
    border: 2px solid yellow;
    border-radius: 4px;
}

#button {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    color: black;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    font-family: "Muli", sans-serif;
}
